/********************/
/********************************* GLOBALES ********************************/
/********************/
.cubrir{
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}

/********************/
/*********************** NAVBAR INDEX***********************************************************************/
/********************/

@media (max-width: 1400px){
    .fondo{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%);
    }
    .letras{
        margin: 0.5rem auto;
        font-weight: bold;
        font-size: 60px;
        font-family: 'Coda Caption', sans-serif;
        color: #f9f104;
        transform: perspective(150px) rotateX(20deg);
    }
    .letras:last-of-type{
        margin-bottom: 1rem;
    }
    .img-prota{

        border-radius: 5rem;
        filter: opacity(0.5);
        background-color: rgba(0,0,0,0.8);
        padding: 1rem;
        margin: 1rem;
        box-shadow: 0rem 0rem 2rem black;
        max-width: 200px;
    }
}
@media (min-width: 1400px){
    .fondo{
        background-color: black;
        height: 100vh!important;
    }
    .texto-vertical{
        width:50px;
        word-wrap: break-word;
        text-align:center;
        position: absolute;
        margin: 10px 1rem 0;
    }
    .texto-vertical:last-of-type{
        top: 0;
        right: 0px;
    }
    .letras{
        font-weight: bold;
        font-size: 8vh;
        font-family: 'Coda Caption', sans-serif;
        color: #212529;
    }
    .btn-prota{
        width: auto;
        height: auto;
    }
    .img-prota{
        height: 100vh;
        width: 15vw;
        filter: grayscale(1);
        transition: 0.5s ease-in-out all;
        transform: scale(0.97);
        border-radius: 2rem;
        margin: auto;
    }
    .img-prota:hover{
        transition: 0.5s ease-in-out all;
        filter: grayscale(0);
        transform: scale(1);
    }
}

/********************/
/********************** PAGINAS INTERNAS *******************************************************************/
/********************/

/********************/
/*** HEADER ***/
/********************/

.contenido-int header a, #nombre:hover{
    text-transform: uppercase;
    text-decoration: none;
}
#nombre{
    font-family: 'Coda Caption', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
@media (min-width: 992px){
    .fijar{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #dd0a0f;
        box-shadow: 0 0px 15px #fab8bc;
        width: 100%;
        margin: 0!important;
    }
    .fijar a img{
        width: 100%;
        max-width: 200px;
    }
    #nombre{
        color: #f9f104;
        text-shadow: 0 0 5px #f9f104;
        font-size: 50px;
        transition: text-shadow .3s ease-in;
    }
    .contenido-int header{
        background-color: rgba(221,10,15, 0.9);
        width: 100%;
    }
    .flotar{
        position: fixed;
        top: 110px;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
    .navegacion{
        font-size: 25px;
        transition: text-shadow .5s ease-out;
        margin: auto 1rem;
    }
    .sinSe{
        color: #f9f104!important;
        text-shadow: 0 0 5px #f9f104!important;
    }
    .sinSe:hover{
        text-shadow: 0 0 5px #0a0404!important;
        transition: all .3s ease-in!important;
    }
    
    .seleccionado{
        color: black!important;
        text-shadow:"none";
    }
}
@media (max-width: 992px){
    .fijar, .barra-nav{
        background-color: black;
        padding: 0;
    }
    #nombre{
        color: #dd0a0f;
        font-size: 35px; 
    }

    .logo img{
        max-width: 500px;
        width: 90%;
    }
    .navegacion{
        display: none;
        padding: 1rem;
        font-size: 20px;
        color: #f9f104;
        margin: auto;
        width: 100%;
    }
    #mini-menu::before{
        display: block;
        font-family: "Font Awesome 5 Free";
        content: "\f0c9";
        font-weight: 900;
        font-size: 50px;
        color: #dd0a0f;
        padding: 1rem;
        background-color: black;
    }
    .barra-nav{
        padding-bottom: 0!important;
    }
}

/********************/
/*** CONTENIDO ***/
/********************/

.contenido-int{
    font-family: 'Zen Dots', cursive;
    text-align: justify;
    font-size: 20px;
    color: #0a0404;
}
.seccion{
    display: none;
}
.contenido-int h3{
    font-size: 26px;
    margin: 1rem auto;
}
.contenido-int h4{
    font-size: 23px;
}
.img-contenido{
    float: right;
    clear: right;
    margin: 2rem;
}
@media (min-width: 992px){
    .el, .seccion{
        padding-top: 14rem;
        min-height: 100vh!important;
}
}
@media (max-width: 992px){
    .el,.seccion{
        padding-top: 5rem;
}
}

/********************/
/*** FOOTER ***/
/********************/



footer {
    display: flex!important;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    margin-top: 5rem;
    clear: both;
    flex-direction: column;
    justify-content: space-around;
}
@media (min-width: 992px){
    footer{
        height: 350px;
    }
}
footer::after {
    content: "";
    background-image: url("../Imagenes/2.jpeg");
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
.footer-barra{
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 1rem;
}

@media (min-width: 992px){
    .footer-barra{
        display: flex;
        justify-content: space-between;
    }
    .footer-barra p{
        margin: auto 3rem;
    }
}
@media (max-width: 992px){
    .footer-barra{
        text-align: center;
    }
}
.redes-sociales{
    text-align: center;
}
@media (min-width: 992px){
    .redes-sociales{
    padding: 2rem;
    }
    .redes-sociales a{
    font-size: 5rem;
    color: rgba(0,0,0,0.5);
    padding: 10px;
    margin: auto 1.5rem;
    }
    .redes-sociales > a:nth-child(1){
    transition: color 1s ease-out;
    }
    .redes-sociales > a:nth-child(1):hover{
    color: #3b5998;
    transition: all 0.3s ease-out;
    }
    .redes-sociales > a:nth-child(2){
    transition: color 1s ease-out;
    }
    .redes-sociales > a:nth-child(2):hover{
    color: #c4302b;
    transition: all 0.3s ease-out;
    }
    .redes-sociales > a:nth-child(3){
    transition: color 1s ease-out;
    }
    .redes-sociales > a:nth-child(3):hover{
    color: #5851DB;
    transition: all 0.3s ease-out;
    }
    .redes-sociales > a:nth-child(4){
    transition: color 1s ease-out;
    }
    .redes-sociales > a:nth-child(4):hover{
    color: #bb001b;
    transition: all 0.3s ease-out;
    }
    .redes-sociales > a:nth-child(5){
    transition: color 1s ease-out;
    }
    .redes-sociales > a:nth-child(5):hover{
    color: #0e76a8;
    transition: all 0.3s ease-out;
    }
}
@media (max-width: 992px){
    .redes-sociales{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .redes-sociales a{
    font-size: 4rem;
    color: white;
    margin: 1rem;
    }
    .redes-sociales > a:nth-child(1){
    color: #3b5998;
    }
    .redes-sociales > a:nth-child(2){
    color: #c4302b;
    }
    .redes-sociales > a:nth-child(3){
    color: #5851DB;
    }
    .redes-sociales > a:nth-child(4){
    color: #bb001b;
    }
    .redes-sociales > a:nth-child(5){
    color: #0e76a8;
    }
}
/* 
#f9f104  amarillo
#dd0a0f rojo
#0a0404 negro
#fab8bc rosa
#522c04 rojo oscuro */